


@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap');


:root {
  /* Primary */
  --soft_cyan: hsl(174, 77%, 80%);
  --strong_cyan: hsl(174, 86%, 45%);
  --light_gray_red: hsl(14, 92%, 95%);
  --light_red: hsl(15, 100%, 70%);
  --pale_blue: hsl(226, 100%, 87%);
  /* Neutral */
  --white: hsl(0, 0%, 100%);
  --very_pale_blue: hsl(230, 100%, 99%);
  --light_gray_blue: hsl(224, 65%, 95%);
  --lighter_gray_blue: hsl(223, 50%, 87%);
  --gray_blue: hsl(225, 20%, 60%);
  --dark_blue: hsl(227, 35%, 25%);
}


.wrapper {
	width: 100%;
}

.attribution { 
	font-size: 11px; 
	text-align: center; 
	margin: 20px auto;
	position: relative;
	}

.attribution a { color: hsl(228, 45%, 44%); }

* {
	font-family: 'Manrope', sans-serif;
	margin: 0;
	padding: 0;
	text-align: center;
	box-sizing: border-box;
}

body {
	background-color: hsl(230, 100%, 99%);
	background-image: url("images/bg-pattern.svg");
	background-repeat: no-repeat;
	color: hsl(225, 20%, 60%);
}


.heading {
	width: 100%;
	margin: 35px auto 0 auto;
	background: url("images/pattern-circles.svg");
	background-repeat: no-repeat;
	background-position: center;
	height: 200px;
	padding: 8px 0 0 0;
/*	background-color: pink;*/
	
}

.heading > h1 {
	color: hsl(227, 35%, 25%);
	font-size: 28px;
	padding: 60px 0 8px 0;

}

.container {
	background-color: white;
	width: 540px;
	height: 397px;
	margin: auto;
	border-radius: 8px;
	padding: 50px 48px 20px 48px;
	position: relative;
	box-shadow: 0 18px 20px -5px #E9E9F8;
}


.top {
	padding: 10px 0 0 0;
}

.scale {
	margin: 20px 0 20px 0;
}

.smallgray {
	/*font-size: 12px;*/
	color: hsl(225, 20%, 60%);
	font-weight: 500;
}

#subheading {
	font-size: 15px;
}



.pageviews {
	padding: 7px 0 0 0;
	font-weight: 700;
	text-transform: uppercase;
	font-size: 14px;
	position: absolute;
	letter-spacing: .15rem;
	left: 48px;
	top: 50px;

}


.cost {
	font-size: 16px;
	font-weight: 600;
	float: right;
	vertical-align: middle;
	position: absolute;
	top: 38px;
	right: 48px;

}

#dollars {
	font-weight: 800;
	font-size: 40px;
	color: hsl(227, 35%, 25%);
	vertical-align: middle;
	margin: 0 4px 0 0;
	/*line-height: 1em;*/
}

.slider {
	margin: 80px 0 10px 0;
}

#mobile {
		display: none;
		position: absolute;
		right: 0;
		top: 0;
	}







#myRange {
  background: linear-gradient(
    to right,
    var(--soft_cyan) 0%,
    var(--soft_cyan) 50%,
    var(--light_gray_blue) 50%,
    var(--light_gray_blue) 100%
  );
  border-radius: 8px;
  height: 7px;
  width: 100%;
  outline: none;
  transition: background 450ms ease-in;
  -webkit-appearance: none;
  margin-bottom: 3.25rem;
}

/* Special styling for WebKit */
input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  height: 2.5rem;
  width: 2.5rem;
  border-radius: 50%;
  background: var(--strong_cyan);
  cursor: pointer;
  /* You need to specify a margin in Chrome, but in Firefox and IE it is automatic */
  -webkit-box-shadow: 0px 11px 25px 1px var(--strong_cyan);
  box-shadow: 0px 11px 25px 1px var(--strong_cyan);
  background-image: url(./images/icon-slider.svg);
  background-repeat: no-repeat;
  background-position: center;
}

/* Firefox */
input[type="range"]::-moz-range-thumb {
  height: 2.5rem;
  width: 2.5rem;
  border-radius: 50%;
  background: var(--strong_cyan);
  cursor: pointer;
  box-shadow: 0px 11px 25px 1px var(--strong_cyan);
  background-image: url(./images/icon-slider.svg);
  background-repeat: no-repeat;
  background-position: center;
}

/* IE */
input[type="range"]::-ms-thumb {
  height: 2.5rem;
  width: 2.5rem;
  border-radius: 50%;
  background: var(--strong_cyan);
  cursor: pointer;
  box-shadow: 0px 11px 25px 1px var(--strong_cyan);
  background-image: url(./images/icon-slider.svg);
  background-repeat: no-repeat;
  background-position: center;
}




/*#######################*/



/*dfsdfdsfsd*/

.switch {
  position: relative;
  display: inline-block;
  width: 43px;
  height: 22px;
  margin: 0 8px 0 10px;
}

.switch input { 
  opacity: 0;
  width: 0;
  height: 0;
}

.slider1 {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #CFD8EF;
  -webkit-transition: .4s;
  transition: .4s;

}

.slider1:before {
  position: absolute;
  content: "";
  height: 14px;
  width: 14px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider1 {
  background-color: #7AEADF;
}

input:focus + .slider1 {
  box-shadow: 0 0 1px #7AEADF;
}

input:checked + .slider1:before {
  -webkit-transform: translateX(20px);
  -ms-transform: translateX(20px);
  transform: translateX(20px);
}

.slider1:hover {
	background-color: #7AEADF;
}

/* Rounded sliders */
.slider1.round {
  border-radius: 34px;
}

.slider1.round:before {
  border-radius: 50%;
}

/*dfsdfsdfsdfs*/

.discount {
	font-size: 10px;
	height: 19px;
	width: 80px;
	background-color: #FEEDE8;
	border-radius: 15px;
	color: #FF8D68;
	padding: 2px 0;
	font-weight: 800;
	float: right;
	margin: 0 25px 0 0;

	}
.float-right {
	float: right;
	margin: 0 10px 0 0;
}

#discount-section {
	font-size: 12px;

	margin: 0 auto 35px auto;
}

#list {
	float:left;
	text-align: left;
}








#bottom-section {
	
	padding: 30px 0 0 0;


}

ul li {
	text-align: left;
	list-style-image: url("images/icon-check.svg");
	margin: 0 0 10px 15px;
	font-size: 12px;
	text-indent: 8px;

	/**/
}



hr {
	width: 100%;
	position: absolute;
	left: 0;
	background-color: #ECF0FB;
	height: 1px;
	border: none;

}

button {
	height: 41px;
	width: 170px;
  border: none;
  color: hsl(225, 20%, 60%);
  background-color: #293356;
  text-align: center;
  text-decoration: none;
/*  display: inline-block;*/
  font-size: 12px;
  margin: 15px auto;
  cursor: pointer;
  border-radius: 20px;
  font-weight: 800;
  float: right;
}

button:hover {
	color: white;
}






@media only screen and (max-device-width: 500px) {

	.heading > h1 {
		font-size: 20px;
	}

	#subheading {
		font-size: 13px;
		width: 180px;
		margin: auto;

	}

	.container {
		width: 90%;
		/*padding: 20px 10px;*/
		/*margin: auto;*/
		height: 478px;


		padding: 20px 24px;
		/*background-color: red;*/
	}

/*	.container {
	background-color: white;
	width: 540px;
	height: 397px;

	padding: 40px 45px 30px 45px;
	position: relative;
	}
*/
	.pageviews {
		float: none;
		margin: auto;
		align-content: center;
		position: static;
		/*width: 200px;*/
		margin: 10px auto;


	}
	.parent {
		position: relative;
	}


	#mobile {
		display: block;
		position: absolute;
		right: -45px;
		top: 0px;
		margin:0;

	}

	#discount-section {
		float: none;
		margin: 20px auto 38px auto;
		position: relative;

	}

	.discount {
		float: none;

	}

	.float-right {
		float: none;
		margin: none;
	}

	.switch {
		margin: 0;
	}

	

	.cost {
	font-size: 14px;
	/*font-weight: 600;*/
	float: none;
	/*vertical-align: middle;*/
	position: static;
	margin: 13px auto 35px auto;

	}

	#dollars {
	
	font-size: 32px;
	position: static;
	/*color: hsl(227, 35%, 25%);
	vertical-align: middle;
	margin: 0 4px 0 0;*/
	
	}

	.slider {
		margin: auto;
	}

	#list {
		padding: 25px 0 0 0;
		float: none;
		margin: auto;

		width: 100%;
		text-align: center;

	}

	ul li {

	text-align: center;
	list-style-image: url("images/icon-check.svg");
	font-size: 12px;
	text-indent: 8px;
	margin: 0 0 10px 0;



	}

	ul {
		padding: 30px 0 0 0;
		display: inline;
		align-content: center;
		text-align: center;
		list-style-position: inside;

	}

	.parent {
		position: relative;
	}



	button {
		float: none;
		margin: 15px auto 0 auto;

		

	}
	.discount {
		width: 40px;
	}
	#browser {
		display: none;
		position: absolute;
		left: 0;
		top: 0;
	}

	#mobile {
		display: block;
		position: absolute;
		right: -45px;
		top: 0px;
		margin:0;

	}

	#discount-section {
		float: none;
		margin: 20px auto 38px auto;
		position: relative;

	}

	.discount {
		float: none;

	}

	.float-right {
		float: none;
		margin: none;
	}

	.switch {
		margin: 0;
	}


	#bottom-section {
		padding: 50px 0 0 0;
		display: inline;
		position: relative;
		background-color: red;


	}





}

.boxes::after {

	content: '';
	display: table;
	clear: both;
}


/*TO DO*/
/*filler color for slider*/
/*make mobile compatible */
/*hover states for slider */











